{{ define "main" }}
<div class="content-section">
    <h1>{{ .Title }}</h1>
    
    <div class="card-container">
        {{/* 从 .Data.Terms 中获取所有分类，并按资料数量排序 */}}
        {{ range .Data.Terms.ByCount }}
            <div class="card">
                <a href="{{ .Page.Permalink }}">
                    <h4>{{ .Page.Title }}</h4>
                    {{/* 添加和首页一样的计数显示 */}}
                    <p>共 {{ .Count }} 份资料</p>
                </a>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
