<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="/css/style.css?v={{ now.Unix }}">
    </head>
<header class="site-header">
    <div class="header-content">
        <div class="logo">
            <a href="/">{{ .Site.Title }}</a>
        </div>
        <div class="inspirational-quote">
            “信息本该自由，学习本应简单。”
        </div>
        <nav class="main-nav">
      
            <a href="/search/" class="nav-search-button">🔍</a>
        </nav>
    </div>
</header>




