<header class="site-header">
    <div class="header-content">
        <div class="logo">
            <a href="/">{{ .Site.Title }}</a>
        </div>
        <nav class="main-nav">
            <a href="/">首页</a>
            <a href="/materials/">学习资料</a>
            <a href="/canteens/">食堂推荐</a>
            <a href="/guides/">生活指南</a>
            <a href="/software/">正版软件</a>
            <a href="/links/">常用网址</a>
            <a href="/search/" class="nav-search-button">搜索</a>
        </nav>
    </div>
</header>
